a,
p {
  color: #4b5156;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fafafa;
  padding: 50px;
}

label {
  padding-top: 10px !important;
  display: block;
}

.button {
  border: 1px solid #302b63;
  background-color: #fafafa;
  color: #302b63;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.card-body {
  padding: 20px;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0 0, 0, 0.21);
}

.delete-link {
  text-decoration: none;
  font-weight: 900;
  color: #24243e;
  font-size: 22px;
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.header-bar a {
  text-decoration: none;
  color: #fff;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #302b63;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}

.task-complete-icon {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 43, 99);
  border-radius: 50%;
  margin-right: 5px;
}

.task-incomplete-icon {
  height: 20px;
  width: 20px;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  margin-right: 5px;
}

.task-title {
  display: flex;
}

.task-title a {
  text-decoration: none;
  color: #4b5156;
  margin-left: 10px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid rgb(226, 226, 226);
}

#add-link {
  color: #302b63;
  text-decoration: none;
  font-size: 42px;
  text-shadow: 1px 1px #81413b;
}

#search-add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
